* {
    box-sizing: border-box;
    font: Montserrat;
}

.mynav{
  overflow: auto;
  background-color: #D8BFD8;
  display: inline;
  font: Montserrat;
  font-weight: 600;
  font-size: 20px;
  color: white;
}

.description{
    font-size: 20px;
    font-weight: 400;
}

.head{
  color: #202020;
}

.switch {
    display: inline-block;
    font-size: 20px; 
    height: 1em;
    width: 2em;
    background: white;
    border-radius: 1em;
}
.switch input {
    position: absolute;
    opacity: 0;
}
.switch div {
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background: #FFFACD;
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
    transition: all 0.3s;
}
.switch input:checked + div {
    transform: translate3d(100%, 0, 0);
}

ul .inside{
    overflow: hidden;
    display: none;
    list-style-type: none;
}

.child {
    list-style-type: none;
}

li a.panels {
    margin: .5em 0;
    width: 100%;
    display: block;
    background: #D8BFD8;
    color: #202020;
    padding: .75em;
    border-radius: 0.15em;
    transition: background .3s ease;
    text-decoration: none;
}

.acc-list a:hover {
    text-decoration: none;
    margin: .5em 0;
    background: #FFFACD;
    color: #202020;
}


