{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>	
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	 
    <title>base</title>
</head>


<body class ='body'>
    <nav class="navbar sticky-top navbar-expand-md navbar-dark mynav">
        <a class="navbar-brand" href="https://story5natel.herokuapp.com/">NEC.</a>
        <div class="container">
            <label class="switch"><input id="checkbox" type="checkbox" /><div></div>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
         <ul class= "navbar-nav ml-auto">
           <li class= "nav-item" >
             <a href="{% url 'home' %}" class = "nav-link"> Home </a>
           </li>
           <li class= "nav-item" >
             <a href="{% url 'search_books' %}" class = "nav-link">Search Books!</a>
           </li>
         </ul>
     </div>

    </nav>

    {% block body %}

    {% endblock body %}

    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
    <script src = "{% static 'js/jquery.js' %}"></script>
    <script src = "{% static 'js/jquery_theme.js' %}"></script>
    <script src = "{% static 'js/jquery_accordion.js' %}"></script>
    <script src = "{% static 'js/js_books.js' %}"></script>
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script>
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> </script>

</body>
</html>

