{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="background-col">

  <div class="container">
  <header class="text-center py-5 mb-4">
       <h1 class="head">HELLO!</h1>
  </header>
  </div>

   <div class="container">
     <div class="row">
       <div class="col-xl-3 col-md-6">
         <div class="card border-0 shadow">
           <img src="{% static 'img/natel.jpg' %}" class="card-img-top" alt="...">
           <div class="card-body text-center">
             <h5 class="card-title mb-0">Natasya Elora Carissa</h5>
             <div class="card-text text-black-50">Student</div>
           </div>
         </div>
       </div>

       <div class="col">
         <p class="text-justify description">
            You can call me Natasya for short. I’m 19 years old and an Information System student in University of Indonesia. I'm still working on my website, currently I just learned about JavaScript and JQuery. I am eager to learn new things and try make the best in everything I do!
         </p>
       </div>

       <div class="col">

           <header class="text-right">
                <h3 class="head">More About Me</h3>
           </header>

           <ul class="accordion child">

               <li class='acc-list'>
                 <a class="panels" href="#">My Activities</a>
                 <ul class="inside">
                     <li>Studying</li>
                     <li>Coding</li>
                     <li>Playing Basketball</li>
                     <li>Watching Movies</li>
                 </ul>
               </li>

               <li class='acc-list'>
                 <a class="panels" href="#">My Experiences</a>
                 <ul class="inside">
                   <li> Secretary of Basketball — <b>Setara 70</b> </li>
                   <li> Staff of Sponsorship — <b>Educare</b></li>
                   <li> HRD of Visual Design — <b>COMPFEST 11</b></li>
                   <li> PIC of Fundraising — <b>Open House Fasilkom UI 2019</b></li>
                 </ul>
               </li>

               <li class='acc-list'>
                <a class="panels" href="#">My Achievements</a>
                <ul class="inside">
                    <li>3st place in Charitas Basketball Championship</li>
                    <li>2st place in Al Azhar Pusat Basketball Championship</li>
                    <li>1st place in SMAN 32 Basketball Championship</li>
                </ul>
               </li>

               <li class='acc-list'>
                 <a class="panels" href="#">My Educations</a>
                 <ul class="inside">
                  <li>
                    <a class="panels" href="#">Formal</a>
                    <div class="inside">
                     <p>SDI Al-Azhar 17 Bintaro</p>
                     <p>SMPN 19 Jakarta</p>
                     <p>SMAN 70 Jakarta</p>
                     <p>University of Indonesia</p>
                    </div>
                  </li>
            
                  <li>
                    <a class="panels" href="#">Informal</a>
                    <div class="inside">
                      <p>LIA — <b>2012</b></p>
                      <p>ILP — <b>2010</b></p>
                    </div>
                  </li>
                </ul>
               </li>
          </div>
       </div>
</div>

{% endblock body %}
</html>