{% extends 'base.html' %}
{% load static %}


{% block body %}
<div class="container">
    <div class="col-12 form">
        <h1 style="color: #202020; text-align: center; margin-bottom: 3%;margin-top: 3%;"> Search a book here! </h1>
        <input id="search" placeholder="Title or Author" style=" align-items: center; width: 50%;height: 35px; margin-left: 22%; border-radius: 5px; margin-bottom: 3%;">
        <button id="button" name="button" style="width: 70px; height: 36px; text-align: center; font-size: 100%;border-radius: 5px; background-color: #FFFACD">Search</button>
    <div id="results">
    </div>
</div>

{% endblock body%}


